[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SK4FGA"]
	path = SK4FGA
	url = https://github.com/tobyhayward13/sci118uoa_forensicglassanalysis
	subdir = SK4FGA
